<table>
    <thead>
        <tr>
            <th>CODCAR</th>
            <th>NOMCAR</th>
            <th>DISTCAR</th>
            <th>MONTO</th>
        </tr>
    </thead>
    <tbody>
        {{#each results}}
        <tr>
            <td>{{codcar}}</td>
            <td>{{nomcar}}</td>
            <td>{{distcar}}</td>
            <td>{{monto}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>